body {
	width: 100%;
	background-color: black;

	background-size: cover;
}
h1 {
	font-size: 10rem;
	color: red;
}
.animals {
	width: 90%;
	margin: 0 auto;
	height:100vh;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;	

}
/*ALPHABET*/
.bg65 {background-image: url('../img/axolotl.jpg');}
.bg66 {background-image: url('../img/baboon.jpg');}
.bg67 {background-image: url('../img/coyote.png');}
.bg68 {background-image: url('../img/donkey.jpg');}
.bg69 {background-image: url('../img/elephant.jpg');}
.bg70 {background-image: url('../img/spring-peeper.jpg');}
.bg71 {background-image: url('../img/goat.jpg');}
.bg72 {background-image: url('../img/hippo-dawn.jpg');}
.bg73 {background-image: url('../img/isopod.jpg');}
.bg74 {background-image: url('../img/jaguar.jpg');}    
.bg75 {background-image: url('../img/kookaburra.jpg');}
.bg76 {background-image: url('../img/lion.jpg');}
.bg77 {background-image: url('../img/moose.jpg');}
.bg78 {background-image: url('../img/nightingale1.jpg');}
.bg79 {background-image: url('../img/otter1.jpg');}

.bg80 {background-image: url('../img/goat.jpg');}
.bg81 {background-image: url('../img/axolotl.jpg');}
.bg82 {background-image: url('../img/axolotl.jpg');}
.bg83 {background-image: url('../img/elephant.jpg');}
.bg84 {background-image: url('../img/goat.jpg');}
.bg85 {background-image: url('../img/axolotl.jpg');}
.bg86 {background-image: url('../img/axolotl.jpg');}
.bg87 {background-image: url('../img/elephant.jpg');}
.bg88 {background-image: url('../img/goat.jpg');}
.bg89 {background-image: url('../img/axolotl.jpg');}
.bg90 {background-image: url('../img/axolotl.jpg');}

